@using Microsoft.AspNetCore.SignalR.Client
@using market3.DataBase;
@inject IJSRuntime IJSRuntime
@page "/addproduct"
<h3> Добавить Новый товар</h3>
<EditForm Model="@newTovar" OnInvalidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>

            Название: <InputText @bind-Value="newTovar.Name" />

        </label>
    </p>

    <p>
        <label>

            Описание: <InputText @bind-Value="newTovar.Description" />


        </label>
    </p>

    <div>
        <label>
            Изображение:
        </label>
        <InputFile class="form-control" id="image" OnChange="@SingleUpload" @bind-Value="@newTovar.Image" accept=".jpg,.jpeg,.png,.gif" />
    </div>

    <div>
        <label>

            Категория:
        </label>
        <div>
            <InputSelect @bind-Value="newTovar.CategoryId">
                @foreach(var category in categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </InputSelect>
        </div>

    </div>

    <p>
        <label>

            Цена: <InputNumber @bind-Value="newTovar.Price" />

        </label>

    </p>
    <p>
        <label>

            Кол-во: <InputNumber @bind-Value="newTovar.Quantity" />

        </label>
    </p>


    <button type="submit" class="btn btn-primary"> Добавить </button>
</EditForm>
@code {
    private List<Category> categories = new List<Category>();
    private Tovar newTovar = new Tovar();
    private List<int> selectedCategories = new List<int>();
    private HubConnection? hubConnection;
    protected override async Task OnInitializedAsync()
    {
        await LoadCategory();

    }
    private async Task LoadCategory()
    {
        var hubConnection = new HubConnectionBuilder().WithUrl("http://localhost:5122/producthub").Build();
        await hubConnection.StartAsync();
        hubConnection.On<List<Category>>("ReceiveCategory", (categoryFromServer) =>
        {
            categories = categoryFromServer;
            InvokeAsync(StateHasChanged);
        });
        await hubConnection.InvokeAsync("GetCategoriesAsync");
    }
    private async Task HandleValidSubmit()
    {
        await hubConnection!.SendAsync("AddProduct", newTovar);
    }
    private async Task SingleUpload(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        var bytes = ms.ToArray();
        newTovar.Image = bytes;
    }
    public void Dispose()
    {
        hubConnection?.DisposeAsync();
    }
}
